/*
1. Posicionamiento (display).
2. Modelo de Caja (box model)
3. Tipografia
4. Visuales (border radius, box shadow)
5. Otros
*/
:root {
    /*Colores*/
    --bitcoin-orage:#F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --gray: #BABABA;
    --off-white:#FAF8F7;
    --just-white:#fff;
}
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    width: 100%;
    min-width: 320px;
    height:334px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
    width: 150px;
    height:24px;
    margin-top: 60px;
    align-self:center;
}
.header--title-container{
    width:90%;/*Usará solo el 90% entre 288px y 980px*/
    min-width: 288px;/*Dejará de Disminuir*/
    max-width:900px;/*Dejará de Crecer*/
    height:218px;
    margin-top:40px;/*Para Separarse de la imagen*/
    align-self:center;
}
.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header--title-container p{
    margin-top:25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header--title-container .header--button{
    position: absolute; /*Podemos usar Top, Bottom, Left y Right*/
    left: calc(50% - 115px);
    top:270px;
    display: block;
    margin-top:35px;
    padding: 15px;
    width: 230px;
    height: 48px;
    background-color: var(--off-white);
    /*Sombra*/
    box-shadow:0px 4px 8px rgba(89,73,30, 0.16);
    border: none;
    border-radius:5px;
    font-size:1.4rem;
    font-weight:bold;
    text-decoration:none;
    color: var(--black);
}
.header--button span{
    display: inline-block;
    width: 13px;
    height:8px;
    margin-left:10px;
    background-image: url('./assets/icons/arrow-bottom.svg');
}

